---
const Services = [
    {
      src: "../../../assets/8.jpg",
      title: "Full-Day Wedding Coverage",
      description: "From the excitement of getting ready to the last dance of the evening, our full-day wedding coverage ensures that no moment is missed. We capture every detail, emotion, and celebration, allowing you to relive your day through stunning photographs."
    },
    {
      src: "../../../assets/6.jpg",
      title: "Engagement Sessions",
      description: "Celebrate your love before the big day with an engagement session! We’ll work with you to create beautiful, personalized images that reflect your unique story and connection. Use these images for save-the-dates, invitations, or simply to commemorate this exciting chapter in your lives."
    },
    {
      src: "../../../assets/4.jpg",
      title: "Destination Weddings",
      description: "Planning a wedding in a breathtaking location? Our team specializes in destination weddings, traveling to capture your love story in stunning settings. We understand the intricacies of destination photography, ensuring that you receive beautiful images that reflect the essence of your chosen locale."
    },
    {
      src: "../../../assets/9.jpg",
      title: "Custom Wedding Albums",
      description: "Preserve your memories with our custom wedding albums, designed to showcase your favorite moments in a timeless, elegant format. Our albums are crafted with high-quality materials, ensuring your memories are beautifully displayed for years to come."
    },
    {
      src: "../../../assets/10.jpg",
      title: "Professional Editing",
      description: "Our commitment to excellence extends beyond the camera. Each image is professionally edited to enhance colors, lighting, and details, resulting in a polished and cohesive collection that tells your story beautifully."
    },
    {
      src: "../../../assets/11.jpg",
      title: "Consultation and Planning",
      description: "We believe in building strong relationships with our couples. Our consultation services include pre-wedding meetings to discuss your vision, timelines, and any special requests. We’ll work closely with you to ensure every detail is captured just as you imagined."
    }
  ]
---

<section>
	<div class="flex flex-col gap-10">
		{
			Services.map((service, i) => (
				<div class="flex flex-col lg:flex-row justify-between lg:even:flex-row-reverse gap-20 lg:gap-0 even:bg-neutral-800 outfit py-20">
          <div class="flex flex-col gap-2 pl-4 md:px-14 even:pl-0 ">
            <p class="text-white text-[24px] lg:text-[48px]">{service.title}</p>
            <p class="text-neutral-500 w-full lg:w-3/4">{service.description}</p>
          </div>
          <img src={service.src} alt="" class={`w-full lg:w-[450px] xl:w-[600px] ${i % 2 === 0 ? 'rounded-none lg:rounded-l-3xl' : 'rounded-none lg:rounded-r-3xl'}`}>
        </div>
			))
		}
	</div>
</section>