<section class="flex flex-col items-center gap-2 text-center outfit px-4 md:px-14 mt-32">
	<h1 class="text-[32px] md:text-[48px] text-white">Let Us Tell Your Story</h1>
	<p class="text-neutral-500 w-full md:w-3/4 lg:w-1/2">Your wedding day is one of the most important days of your life, and we are honored to be a part of it. Contact us today to learn more about our services and how we can help you capture the magic of your special day!</p>
</section>