---
import Navbar from '../components/Navbar.astro';
import Content from '../components/Gallery/Content.astro'
import Layout from '../layouts/Gallery.astro';

import '../style/font.css'
import '../style/global.css';
import Footer from '../components/Footer.astro';

---

<Layout title="Welcome to Lumière.">
	<Navbar/>
	<div class="flex flex-col gap-32">
		<Content/>
		<Footer/>
	</div>
</Layout>
