---
import About from '../components/Home/About.astro';
import Header from '../components/Home/Header.astro';
import Navbar from '../components/Navbar.astro';
import Portfolio from '../components/Home/Portfolio.astro';
import Gallery from '../components/Home/Gallery.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Home.astro';
import Awards from '../components/Awards.astro';

import '../style/font.css'
import '../style/global.css';
---

<Layout title="Welcome to Lumière.">
	<Navbar/>
	<div class="flex flex-col gap-20 lg:gap-32">
		<Header/>
		<About/>
		<Portfolio/>
		<Gallery/>
		<Awards/>
		<Footer/>
	</div>
</Layout>