<section class="flex flex-col gap-20 outfit text-white px-5 md:px-14 mt-32">
	<div class="flex flex-col items-center">
		<h1 class="text-[48px]">Get in Touch</h1>
		<p class="w-full md:w-1/2 text-center text-neutral-500">Whether you have questions about our services, want to check availability for your special day, or simply want to chat about your vision, we’re here to help!</p>
	</div>
	<div class="flex flex-col lg:flex-row gap-20 w-full">
		<form action="" class="flex flex-col gap-5 w-full">
			<div class="flex flex-col lg:flex-row gap-5 w-full">
				<div class="flex flex-col gap-2 w-full lg:w-1/2">
					<label for="first-name">First name</label>
					<input id="first-name" type="text" class="bg-neutral-800 rounded-lg p-2 outline-none">
				</div>
				<div class="flex flex-col gap-2 w-full lg:w-1/2">
					<label for="second-name">Second name</label>
					<input id="second-name" type="text" class="bg-neutral-800 rounded-lg p-2 outline-none">
				</div>
			</div>
			<div class="flex flex-col gap-2">
				<label for="email">Email</label>
				<input id="email" type="email" class="bg-neutral-800 rounded-lg p-2 outline-none w-full">
			</div>
			<div class="flex flex-col gap-2">
				<label for="phone-number">Phone number</label>
				<input id="phone-number" type="number" class="bg-neutral-800 rounded-lg p-2 outline-none w-full">
			</div>
			<div class="flex flex-col gap-2">
				<label for="message">Message</label>
				<textarea id="message" rows="8" cols="50" wrap="hard" class="bg-neutral-800 rounded-lg p-2 outline-none w-full resize-none"/>
			</div>
			<button class="bg-neutral-700 hover:bg-neutral-600 py-3 rounded-xl">Send Message</button>
		</form>
		<div class="flex flex-col gap-10 w-full">
			<div class="flex flex-col gap-2">
				<div>
					<p class="text-[20px]">Chat with us</p>
					<p class="text-neutral-500">Speak to our team</p>
				</div>
				<span class="flex items-center gap-2">
					<?xml version="1.0" encoding="UTF-8"?><svg width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#fff"><path d="M7 9L12 12.5L17 9" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2 17V7C2 5.89543 2.89543 5 4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17Z" stroke="#fff" stroke-width="1.5"></path></svg>
					<p>info@Lumière.com</p>
				</span>
				<span class="flex items-center gap-2">
					<?xml version="1.0" encoding="UTF-8"?><svg width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M18.1182 14.702L14 15.5C11.2183 14.1038 9.5 12.5 8.5 10L9.26995 5.8699L7.81452 2L4.0636 2C2.93605 2 2.04814 2.93178 2.21654 4.04668C2.63695 6.83 3.87653 11.8765 7.5 15.5C11.3052 19.3052 16.7857 20.9564 19.802 21.6127C20.9668 21.8662 22 20.9575 22 19.7655L22 16.1812L18.1182 14.702Z" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
					<p>(123) 456-7890</p>
				</span>
			</div>
			<div class="flex flex-col gap-2">
				<div>
					<p class="text-[20px]">Visit us</p>
					<p class="text-neutral-500">Visit our office at Weddingville</p>
				</div>
				<p>251 Wood Street, Suite 589, Weddingville, NY 10001</p>
			</div>
			<div class="flex flex-col gap-2">
				<p class="text-[20px]">Follow Us on Social Media:</p>
				<span>Stay connected and see our latest work by following us on <a href="" class="underline underline-offset-4">Instagram</a>, <a href="" class="underline underline-offset-4">Facebook</a>, and <a href="" class="underline underline-offset-4">Pinterest</a>.</span>
			</div>
			<div class="flex flex-col gap-2">
				<p class="text-[20px]">Schedule a Consultation:</p>
				<p>Ready to discuss your wedding plans? Fill out the form below, and we’ll get back to you as soon as possible!</p>
			</div>
		</div>
	</div>
</section>