<section class="flex flex-col gap-10 md:gap-20 outfit px-4 md:px-14">
	<p class="text-neutral-500 text-[20px] md:text-[32px] lg:text-[40px] xl:text-[48px]">
		Capture <span class="text-white">emotions</span>, <span class="text-white">moments</span>, and <span class="text-white">memories</span> that you will cherish for a lifetime. From the quiet, <span class="text-white">intimate moments</span> to the grand celebrations. we create images that are both <span class="text-white">heartfelt and unforgettable.</span>
	</p>
	<div class="flex flex-wrap items-center gap-10 md:gap-20 lg:gap-32">
		<div>
			<p class="text-[32px] md:text-[32px] lg:text-[64px] text-white">25</p>
			<p class="text-base md:text-[20px] text-neutral-500">Awards Won</p>
		</div>
		<div>
			<p class="text-[32px] md:text-[32px] lg:text-[64px] text-white">200+</p>
			<p class="text-base md:text-[20px] text-neutral-500">Happy Clients</p>
		</div>
		<div>
			<p class="text-[32px] md:text-[32px] lg:text-[64px] text-white">250+</p>
			<p class="text-base md:text-[20px] text-neutral-500">Glowing Testimonials</p>
		</div>
	</div>
</section>