---
---

<section class="relative flex lg:block flex-col gap-10 m-4 mb-0 lg:mb-32 rounded-2xl">
	<div class="relative flex flex-col-reverse w-full text-white mt-32">
		<img src="../../../assets/thumbnailHeader.png" alt="" srcset="" class="block w-full h-auto">
		<div class="relative md:absolute md:inset-0 md:bg-black/25 w-full h-full rounded-2xl">
			<div class="static md:absolute top-1/2 -translate-y-1/2 px-0 md:px-10">
				<h1 class="text-[20px] md:text-[32px] lg:text-[48px] xl:text-[64px] outfit-medium text-center md:text-left w-full md:w-3/4">Capturing Your Love Story, One Moment at a Time</h1>
				<span class="md:flex items-center gap-2">
					<span class="hidden md:block">
						<svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#fff"><path d="M6 12H18" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
					</span>
					<p class="outfit text-base md:text-[20px] text-neutral-500 md:text-white text-center md:text-left">Forever in Pictures</p>
				</span>
			</div>
		</div>
	</div>
	<div class="static lg:absolute -bottom-32 xl:-bottom-20 flex flex-col md:flex-row justify-center gap-5 px-0 md:px-10 w-full">
		<div class="flex flex-col gap-3 w-full md:w-3/4 lg:w-1/2 text-white bg-white/15 p-5 border border-white/25 backdrop-blur-3xl rounded-xl">
			<p class="outfit-semibold flex-1">Authenticity</p>
			<p class="outfit">We capture genuine, unfiltered moments that tell the true story of your love. Every emotion, every glance—preserved just as it happened</p>
		</div>
		<div class="flex flex-col gap-3 w-full md:w-3/4 lg:w-1/2 text-white bg-white/15 p-5 border border-white/25 backdrop-blur-3xl rounded-xl">
			<p class="outfit-semibold flex-1">Timeless Quality</p>
			<p class="outfit">Our photos are crafted with elegance and attention to detail, ensuring that your wedding memories remain vivid and beautiful for a lifetime.</p>
		</div>
		<div class="flex flex-col gap-3 w-full md:w-3/4 lg:w-1/2 text-white bg-white/15 p-5 border border-white/25 backdrop-blur-3xl rounded-xl">
			<p class="outfit-semibold flex-1">Personalized Experience</p>
			<p class="outfit">We tailor our services to match your unique vision, ensuring that every moment reflects your style and the essence of your special day.</p>
		</div>
	</div>
</section>

<style>
	img{
		object-fit: cover;
	}
</style>