<section class="flex flex-col gap-10 bg-neutral-800 px-5 md:px-14 py-20">
	<p class="outfit text-[20px] md:text-[36px] text-white">From candid moments to emotional moments</p>
	<div class="flex flex-col-reverse md:flex-row justify-center md:justify-between items-center lg:items-end gap-5 md:gap-20">
		<div class="flex flex-col items-center md:items-start gap-10">
			<div class="flex flex-col items-center md:items-start gap-2 outfit whitespace-nowrap">
				<p class="text-white text-[20px]">Whispering Pines, Oregon</p>
				<p class="text-neutral-500">Emily & Jack's Rustic Charm</p>
				<p class="text-neutral-500">June 12, 2023</p>
			</div>
			<span class="flex items-center gap-2">
				<p class="outfit text-white text-base lg:text-[20px]">Explore All Weddings</p>
				<svg width="20px" height="20px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
			</span>
		</div>
		<div>
			<img src="../../../assets/portfolioHome.jpg" alt="" width="600px" class="rounded-xl md:rounded-3xl">
		</div>
	</div>
</section>