<footer class="flex flex-col gap-14 outfit bg-neutral-800 px-5 md:px-14 py-20">
	<div class="flex flex-col gap-2">
		<p class="outfit-semibold text-white text-[20px]">Ready to Capture Your Special Day?</p>
		<p class="text-white text-base md:text-[18px] w-full md:w-1/2">Let’s make your wedding memories timeless. Contact us to learn more about our photography packages or to book a consultation. We’re excited to be part of your love story.</p>
	</div>
	<div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-10">
		<div class="flex flex-col md:flex-row gap-10">
			<div class="flex flex-col gap-4">
				<p class="text-white">Navigation</p>
				<div class="text-neutral-500">
					<p>Home</p>
					<p>Gallery</p>
					<p>Service</p>
					<p>Contact Us</p>
				</div>
			</div>
			<div class="flex flex-col gap-4">
				<p class="text-white">Customer Service</p>
				<div class="text-neutral-500">
					<p>Return Policy</p>
					<p>Terms and Services</p>
					<p>Privacy Policy</p>
					<p>Career</p>
				</div>
			</div>
			<div class="flex flex-col gap-4">
				<p class="text-white">Social Media</p>
				<div class="text-neutral-500">
					<p>Instagram</p>
					<p>Whatsapp</p>
					<p>LinkedIn</p>
				</div>
			</div>
		</div>
		<div>
			<p class="text-white">info@Lumière.com</p>
			<p class="text-white">251 Wood Street</p>
			<p class="text-white">Suite 589</p>
			<p class="text-white">Weddingville</p>
			<p class="text-white">NY 10001</p>
		</div>
	</div>
	<p class="text-neutral-500 text-center">© 2024 Lumière. All Rights Reserved.</p>
</footer>